/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS */

@font-face {
	font-family: "pixel";
	src: url('DOTMATRI.TTF') format('truetype');
}
html {
    scroll-behavior: smooth;
}
body {
    margin: auto;
    width: 360px;
    height: 100%;
}
.pixel {
    font-family: pixel;
    font-size: 13px;
    color: rgb(168, 168, 168);
}
.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(75, 75, 75);
}











/* page 1 */
.base {
	position: absolute;
    z-index: 1;
	margin: auto;
	width: 360px;
}
.popup1 {
    position: absolute;
    z-index: 92;
	margin: auto;
	width: 240px;
    height: 135px;
    visibility: visible;
    margin-top: 282px;
    margin-left: 60px;
    border-radius: 8px;
    backdrop-filter: blur(6px);
    background-color: rgba(245, 245, 245, 0.466);
    border: 1px solid rgb(228, 228, 228);
}
.popup2 {
    position: absolute;
    z-index: 92;
	margin: auto;
	width: 241px;
    height: 69px;
    visibility: visible;
    margin-top: 315px;
    margin-left: 60px;
    border-top: 1px solid rgb(196, 196, 196);
    border-bottom: 1px solid rgb(196, 196, 196);
}
.pop2 {
    text-align: center;
    width: 200px;
    margin-top: 17px;
    margin-left: 20px;
    font-size: 17px;
}
.popup {
	position: absolute;
    z-index: 1;
	margin: auto;
	width: 360px;
    visibility: visible;
}
/* .tutup1 {
    position: absolute;
    z-index: 52;   
} */
.openpopup {
    position: absolute;
    z-index: 93;
    width: 242px;
    height: 32px;
    margin-top: 384px;
    margin-left: 60px;
    cursor : pointer ;
    visibility: visible;
    background-color: aqua;
    opacity: 0.5;
}
.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(75, 75, 75);
}
.name, .open {
    color: #916f6fff;
    font-weight: 500;
}
.name{
    margin-top: 6px;
    margin-left: 90px;
}
.open{
    margin-top: 88px;
    margin-left: 102px;
}

/* tools */
.buka1, .buka11, .tutup1, .buka2, .tutup2, .buka3, .tutup3, .buka4, .tutup4, .buka5, .tutup5, .buka22, .tutup22, .buka3, .tutup3, .buka4, .tutup4, .buka5, .tutup5 {
	display: none;
}
.buka11:checked ~ .tab1 {
    -webkit-animation : bg1_close;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease;
}
/* .buka11:checked ~ .popup {
    -webkit-animation : bg1_close;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease;
} */
.buka11:checked ~ .popup1 {
    -webkit-animation : bg1_close;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease;
}
.buka11:checked ~ .popup2 {
    -webkit-animation : bg1_close;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease;
}
.buka11:checked ~ .openpopup {
    -webkit-animation : bg1_close;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease;
}
.tutup_bottom1 {
    z-index: 52;
    position: absolute;
    /* background-color: aqua;
    opacity: 50%; */
    width: 11px;
    height: 17px;
    margin-top: 20px;
    margin-left: 20px;
    cursor : pointer ;
    visibility: hidden;
}
.arrow {
    width: 11px;
    opacity: 30%;
}
.buka11:checked ~ .tutup_bottom1 {
    -webkit-animation : tutup_see;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease;
}
.buka11:checked ~ .bg2_close {
    -webkit-animation : tutup_see;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease;
}
@-webkit-keyframes bg1_close {
    0% {
        visibility: visible;
        opacity: 100%;
    }
    20% {
        visibility: visible;
        opacity: 80%;
    }
    40% {
        visibility: visible;
        opacity: 60%;
    }
    60% {
        visibility: visible;
        opacity: 40%;
    }
    80% {
        visibility: visible;
        opacity: 20%;
    }
    90% {
        visibility: hidden;
        opacity: 0%;
    }
    100% {
        visibility: hidden;
        opacity: 0%;
    }
}
@-webkit-keyframes tutup_see {
    0% {
        visibility: hidden;
        opacity: 0%;
    }
    20% {
        visibility: visible;
        opacity: 0%;
    }
    40% {
        visibility: visible;
        opacity: 20%;
    }
    60% {
        visibility: visible;
        opacity: 40%;
    }
    80% {
        visibility: visible;
        opacity: 60%;
    }
    100% {
        visibility: visible;
        opacity: 80%;
    }
    100% {
        visibility: visible;
        opacity: 100%;
    }
}

















/* page 2 */
/* .home {
	position: absolute;
    z-index: 51;
	margin: auto;
	width: 360px;
    visibility: visible;
} */
.bg_page2 {
    z-index: 1;
    position: absolute;
	margin: auto;
	width: 360px;
    height: 757.172px;
    visibility: visible;
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.301);
}
.bg2_close {
    visibility: hidden;
    opacity: 0%;
}
.credit {
    z-index: 52;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: rgb(75, 75, 75);
    margin-top: 22px;
    margin-left: 238px;
}
.umji1 {
    z-index: 52;
    position: absolute;
    width: 256px;
    margin-top: 54px;
    margin-left: 52px;
    border-radius: 10px;
}
.me {
    z-index: 52;
    position: absolute;
    /* background-color: aqua; */
    /* opacity: 0%;
    visibility: hidden; */
    width: 320px;
    height: 40px;
    margin-top: 29px;
    margin-left: -31px;
    cursor : pointer ;
    padding-top: 22px;
    font-size: 18px;
    border-bottom: 1px solid rgb(133, 133, 133);
}
.metext {
    margin-left: 20px;
}
.metime {
    margin-left: 244px;
    margin-top: -17px;
}
.friend {
    z-index: 52;
    position: absolute;
    /* background-color: aqua; */
    /* opacity: 0%;
    visibility: hidden; */
    width: 320px;
    height: 40px;
    margin-top: 89px;
    margin-left: -31px;
    cursor : pointer ;
    padding-top: 22px;
    font-size: 18px;
    border-bottom: 1px solid rgb(133, 133, 133);
}
.friendtext {
    margin-left: 20px;
}
.friendtime {
    margin-left: 244px;
    margin-top: -17px;
}
.future {
    z-index: 52;
    position: absolute;
    /* background-color: aqua; */
    /* opacity: 0%;
    visibility: hidden; */
    width: 320px;
    height: 40px;
    margin-top: 151px;
    margin-left: -31px;
    cursor : pointer ;
    padding-top: 22px;
    font-size: 18px;
    border-bottom: 1px solid rgb(133, 133, 133);
}
.futuretext {
    margin-left: 20px;
}
.futuretime {
    margin-left: 244px;
    margin-top: -17px;
}
.best {
    z-index: 52;
    position: absolute;
    /* background-color: aqua; */
    /* opacity: 0%;
    visibility: hidden; */
    width: 320px;
    height: 40px;
    margin-top: 212px;
    margin-left: -31px;
    cursor : pointer ;
    padding-top: 22px;
    font-size: 18px;
}
.besttext {
    margin-left: 20px;
}
.besttime {
    margin-left: 244px;
    margin-top: -17px;
}
.buka22:checked ~ .bg2_close {
    -webkit-animation : bg2_close;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease;
}
.buka3:checked ~ .bg2_close {
    -webkit-animation : bg2_close;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease;
}
.buka4:checked ~ .bg2_close {
    -webkit-animation : bg2_close;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease;
}
.buka5:checked ~ .bg2_close {
    -webkit-animation : bg2_close;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease;
}
@-webkit-keyframes bg2_close {
    0% {
        visibility: visible;
        opacity: 100%;
    }
    20% {
        visibility: visible;
        opacity: 80%;
    }
    40% {
        visibility: visible;
        opacity: 60%;
    }
    60% {
        visibility: visible;
        opacity: 40%;
    }
    80% {
        visibility: visible;
        opacity: 20%;
    }
    100% {
        visibility: visible;
        opacity: 0%;
    }
    100% {
        visibility: hidden;
        opacity: 0%;
    }
}

























/* pliiiiiiiiiiiiii */
.pli {
    z-index: 52;
    position: absolute;
    margin-top: 324px;
    margin-left: 52px;
    width: 256px;
    height: 107px;
    /* opacity: 0.5;
    background-color: bisque; */
}
.title {
    /* background-color: blue;
    opacity: 0.5; */
    text-align: center;
    width: 256px;
    height: 20px;
    font-size: 18px;
}
.owne {
    /* background-color: blue;
    opacity: 0.5; */
    text-align: center;
    width: 256px;
    height: 20px;
    font-size: 18px;
    margin-top: 5px;
    color: #916f6fff;
}
.pesan {
    /* background-color: blue;
    opacity: 0.5; */
    text-align: center;
    width: 256px;
    height: 11px;
    font-size: 11px;
    margin-top: 8px;
    color: rgb(170, 170, 170);
}
.insta {
    /* opacity: 0.5; */
    background-color: rgba(230, 230, 230, 0.74);
    text-align: center;
    width: 105px;
    height: 23px;
    font-size: 15px;
    margin-top: 14px;
    border-radius: 5px;
    padding-top: 5px;
    color: #916f6fff;
    backdrop-filter: blur(4px);
    text-decoration: none;
}
.tele {
    /* opacity: 0.5; */
    background-color: rgba(230, 230, 230, 0.74);
    text-align: center;
    text-align: center;
    width: 105px;
    height: 23px;
    font-size: 15px;
    margin-top: -28px;
    margin-left: 150px;
    border-radius: 5px;
    padding-top: 5px;
    color: #916f6fff;
    backdrop-filter: blur(2px);
    text-decoration: none;
}
.soona {
    text-decoration: none;
}





























/* page me */
.bg_page3 {
    visibility: hidden;
    opacity: 0%;
    z-index: 1;
    position: absolute;
	margin: auto;
	width: 360px;
    height: 757.172px;
    visibility: visible;
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.301);
}
.me_song {
    position: absolute;
    z-index: 1;
    margin: auto;
    width: 360px;
    visibility: hidden;
}
.tutup_bottom2 {
    z-index: 1;
    position: absolute;
    /* background-color: red;
    opacity: 50%; */
    width: 11px;
    height: 17px;
    margin-top: 20px;
    margin-left: 20px;
    cursor : pointer ;
    visibility: hidden;
}
.me_umji {
    position: absolute;
    z-index: 1;
    margin: auto;
    visibility: hidden;
    /* opacity: 50%; */
    background-color: rgba(255, 255, 255);
    width: 257px;
    height: 313px;
    opacity: 50%;
    margin-top: 66px;
    margin-left: 51px;
    border-radius: 16px;
    /* backdrop-filter: blur(4px); */
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.171);
}
.me_png {
    position: absolute;
    z-index: 1;
    margin: auto;
    visibility: hidden;
    /* opacity: 50%; */
    width: 234px;
    height: 230px;
    margin-top: 80px;
    margin-left: 63px;
}
.me_title {
    font-size: 17px;
    margin-top: 260px;
    margin-left: 20px;
}
.me_subtitle {
    font-size: 13px;
    margin-top: 7px;
    margin-left: 20px;
    color: #916f6fff;
}
.me_desc_bold {
    color: rgb(48, 48, 48);
    text-align: center;
    /* font-weight: 600; */
}
.me_desc_list {
    text-align: center;
    margin-top: -50px;
    color: rgb(128, 128, 128);
}
.me_desc {
    position: absolute;
    z-index: 1;
    margin: auto;
    visibility: hidden;
    /* opacity: 50%; */
    margin-top: 400px;
    width: 360px;
    /* background-color: aqua; */
}
.buka22:checked ~ .buka_see2 {
    -webkit-animation : buka_see2;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease;
}
@-webkit-keyframes buka_see2 {
    0% {
        visibility: hidden;
        opacity: 0%;
    }
    20% {
        visibility: visible;
        opacity: 0%;
    }
    40% {
        visibility: visible;
        opacity: 20%;
    }
    60% {
        visibility: visible;
        opacity: 40%;
    }
    80% {
        visibility: visible;
        opacity: 60%;
    }
    100% {
        visibility: visible;
        opacity: 80%;
    }
    100% {
        visibility: visible;
        opacity: 100%;
    }
}










/* page friend */
.bg_page4 {
    visibility: hidden;
    opacity: 0%;
    z-index: 1;
    position: absolute;
	margin: auto;
	width: 360px;
    height: 757.172px;
    visibility: visible;
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.301);
}
.friend_song {
    position: absolute;
    z-index: 1;
    margin: auto;
    width: 360px;
    visibility: hidden;
}
.tutup_bottom3 {
    z-index: 1;
    position: absolute;
    /* background-color: red;
    opacity: 50%; */
    width: 11px;
    height: 17px;
    margin-top: 20px;
    margin-left: 20px;
    cursor : pointer ;
    visibility: hidden;
}
.friend_umji {
    position: absolute;
    z-index: 1;
    margin: auto;
    visibility: hidden;
    /* opacity: 50%; */
    background-color: rgba(255, 255, 255);
    width: 257px;
    height: 313px;
    opacity: 50%;
    margin-top: 66px;
    margin-left: 51px;
    border-radius: 16px;
    /* backdrop-filter: blur(4px); */
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.171);
}
.friend_png {
    position: absolute;
    z-index: 1;
    margin: auto;
    visibility: hidden;
    /* opacity: 50%; */
    width: 234px;
    height: 230px;
    margin-top: 80px;
    margin-left: 63px;
}
.friend_title {
    font-size: 17px;
    margin-top: 260px;
    margin-left: 20px;
}
.friend_subtitle {
    font-size: 13px;
    margin-top: 7px;
    margin-left: 20px;
    color: #916f6fff;
}
.friend_desc_bold {
    color: rgb(48, 48, 48);
    text-align: center;
    /* font-weight: 600; */
}
.friend_desc_list {
    text-align: center;
    margin-top: -90px;
    color: rgb(128, 128, 128);
}
.friend_desc {
    position: absolute;
    z-index: 1;
    margin: auto;
    visibility: hidden;
    /* opacity: 50%; */
    margin-top: 400px;
    width: 360px;
    /* background-color: aqua; */
}
.buka3:checked ~ .buka_see3 {
    -webkit-animation : buka_see2;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease;
}
@-webkit-keyframes buka_see2 {
    0% {
        visibility: hidden;
        opacity: 0%;
    }
    20% {
        visibility: visible;
        opacity: 0%;
    }
    40% {
        visibility: visible;
        opacity: 20%;
    }
    60% {
        visibility: visible;
        opacity: 40%;
    }
    80% {
        visibility: visible;
        opacity: 60%;
    }
    100% {
        visibility: visible;
        opacity: 80%;
    }
    100% {
        visibility: visible;
        opacity: 100%;
    }
}












/* page future */
.bg_page5 {
    visibility: hidden;
    opacity: 0%;
    z-index: 1;
    position: absolute;
	margin: auto;
	width: 360px;
    height: 757.172px;
    visibility: visible;
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.301);
}
.future_song {
    position: absolute;
    z-index: 1;
    margin: auto;
    width: 360px;
    visibility: hidden;
}
.tutup_bottom4 {
    z-index: 1;
    position: absolute;
    /* background-color: red;
    opacity: 50%; */
    width: 11px;
    height: 17px;
    margin-top: 20px;
    margin-left: 20px;
    cursor : pointer ;
    visibility: hidden;
}
.future_umji {
    position: absolute;
    z-index: 1;
    margin: auto;
    visibility: hidden;
    /* opacity: 50%; */
    background-color: rgba(255, 255, 255);
    width: 257px;
    height: 313px;
    opacity: 50%;
    margin-top: 66px;
    margin-left: 51px;
    border-radius: 16px;
    /* backdrop-filter: blur(4px); */
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.171);
}
.future_png {
    position: absolute;
    z-index: 1;
    margin: auto;
    visibility: hidden;
    /* opacity: 50%; */
    width: 234px;
    height: 230px;
    margin-top: 80px;
    margin-left: 63px;
}
.future_title {
    font-size: 17px;
    margin-top: 260px;
    margin-left: 20px;
}
.future_subtitle {
    font-size: 13px;
    margin-top: 7px;
    margin-left: 20px;
    color: #916f6fff;
}
.future_desc_bold {
    color: rgb(48, 48, 48);
    text-align: center;
    /* font-weight: 600; */
}
.future_desc_list {
    text-align: center;
    margin-top: -10px;
    color: rgb(128, 128, 128);
}
.future_desc {
    position: absolute;
    z-index: 1;
    margin: auto;
    visibility: hidden;
    /* opacity: 50%; */
    margin-top: 400px;
    width: 360px;
    /* background-color: aqua; */
}
.buka4:checked ~ .buka_see4 {
    -webkit-animation : buka_see2;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease;
}
@-webkit-keyframes buka_see2 {
    0% {
        visibility: hidden;
        opacity: 0%;
    }
    20% {
        visibility: visible;
        opacity: 0%;
    }
    40% {
        visibility: visible;
        opacity: 20%;
    }
    60% {
        visibility: visible;
        opacity: 40%;
    }
    80% {
        visibility: visible;
        opacity: 60%;
    }
    100% {
        visibility: visible;
        opacity: 80%;
    }
    100% {
        visibility: visible;
        opacity: 100%;
    }
}













/* page future */
.bg_page6 {
    visibility: hidden;
    opacity: 0%;
    z-index: 1;
    position: absolute;
	margin: auto;
	width: 360px;
    height: 757.172px;
    visibility: visible;
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.301);
}
.best_song {
    position: absolute;
    z-index: 1;
    margin: auto;
    width: 360px;
    visibility: hidden;
}
.tutup_bottom5 {
    z-index: 1;
    position: absolute;
    /* background-color: red;
    opacity: 50%; */
    width: 11px;
    height: 17px;
    margin-top: 20px;
    margin-left: 20px;
    cursor : pointer ;
    visibility: hidden;
}
.best_umji {
    position: absolute;
    z-index: 1;
    margin: auto;
    visibility: hidden;
    /* opacity: 50%; */
    background-color: rgba(255, 255, 255);
    width: 257px;
    height: 313px;
    opacity: 50%;
    margin-top: 66px;
    margin-left: 51px;
    border-radius: 16px;
    /* backdrop-filter: blur(4px); */
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.171);
}
.best_png {
    position: absolute;
    z-index: 1;
    margin: auto;
    visibility: hidden;
    /* opacity: 50%; */
    width: 234px;
    height: 230px;
    margin-top: 80px;
    margin-left: 63px;
}
.best_title {
    font-size: 17px;
    margin-top: 260px;
    margin-left: 20px;
}
.best_subtitle {
    font-size: 13px;
    margin-top: 7px;
    margin-left: 20px;
    color: #916f6fff;
}
.best_desc_bold {
    color: rgb(48, 48, 48);
    text-align: center;
    /* font-weight: 600; */
}
.best_desc_list {
    text-align: center;
    margin-top: -90px;
    color: rgb(128, 128, 128);
}
.best_desc {
    position: absolute;
    z-index: 1;
    margin: auto;
    visibility: hidden;
    /* opacity: 50%; */
    margin-top: 400px;
    width: 360px;
    /* background-color: aqua; */
}
.buka5:checked ~ .buka_see5 {
    -webkit-animation : buka_see2;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease;
}
@-webkit-keyframes buka_see2 {
    0% {
        visibility: hidden;
        opacity: 0%;
    }
    20% {
        visibility: visible;
        opacity: 0%;
    }
    40% {
        visibility: visible;
        opacity: 20%;
    }
    60% {
        visibility: visible;
        opacity: 40%;
    }
    80% {
        visibility: visible;
        opacity: 60%;
    }
    100% {
        visibility: visible;
        opacity: 80%;
    }
    100% {
        visibility: visible;
        opacity: 100%;
    }
}
.creditme {
    text-decoration: none;
    color: rgb(75, 75, 75);
}









/* soon page */
.uno {
    background-color: ghostwhite;
    height: 650px;
}
.siji {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
}
.loro {
    display: table-cell;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    filter: blur(0.5px);
    size: 100px;
}